h3 {
    text-align: center;
}
input[type=number], select {
    box-sizing: border-box;
    width: 100px;   
}
form {
    text-align: center;
    padding: 10px;
   
}
input[type=submit] {
    width: 100px;
    margin: 0 600px;
    border-radius: 4px;
    height: 20px;
}